@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(256deg, #5e2ab2 2.64%, #161e6c 140.46%);
}

:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
